<div class="grid place-items-center h-screen p-2 max-w-screen-md">
  <div class="bg-black h-2/6 w-full">
    <h3 class="p-1 text-slate-800 text-white">Shell</h3>
    <div class="bg-blue-900 h-full w-full text-white border-2 border-black">
      <p>Portfolio Shell</p>
      <p>No Copyright</p>
      <br />
      <p>
        Interested in the code?
        <a href="https://github.com/Aterauya/personal-website-angular">
          <strong class="hover:underline">Go here</strong>
        </a>
      </p>
      <br />
      <app-terminal-typed-text
        textToType="Adam Duboczky"
        url="https://www.linkedin.com/in/adam-duboczky/"
      >
      </app-terminal-typed-text>
      <app-terminal-typed-text textToType="Software Developer">
      </app-terminal-typed-text>
      <app-terminal-typed-text
        textToType="Synectics"
        url="https://synecticsglobal.com/en/"
      >
      </app-terminal-typed-text>
      <p>PS C:\Users\personal-site> <span class="animate-blink">_</span></p>
    </div>
  </div>
</div>
